@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://css.gg/time.css');

.react-time-picker__wrapper {
  border-radius: 5px;
  padding: 5px 8px;
  border-color: hsl(0,0%,80%) !important;
}
